<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">.

</head>
<body>
    <div class="container">
        <form method="POST" action="/chats">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">From</label>
                <input type="text" name="from" class="form-control" id="exampleFormControlInput1" placeholder="Sender">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="msg"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">To</label>
                <input type="text" name="to" class="form-control" id="exampleFormControlInput1" placeholder="Receiver">
            </div>
            <button class="btn btn-primary">Submit</button>
          </form>
    </div>
    
</body>
</html>